<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GARITS.Properties.Settings.garitsConnectionStringTemp"
            connectionString="server=localhost;User Id=root;database=garits"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>